body {
  background-image: url(./Фон\ 1.png);
  background-size: cover;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* header */
.header {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  margin: 18px 0 18px 79px;
}
nav {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.nav_title_border {
  display: flex;
}
.nav_title_border::before {
  content: "";
  border-left: black 1px solid;
  margin: 0 25px;
  width: 1px;
  height: 19px;
  left: 1083px;
  top: 20px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.nav_item {
  margin-right: 25px;
}
.nav_item:hover {
  fill: #3cb878;
  cursor: pointer;
  transition: 0.1s linear;
}
.nav_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.nav_sub_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 0 3px;
}
/* form */
.form {
  margin: 30px 61px;
}
.form-container {
  position: absolute;
  max-width: 444px;
  width: 100%;
  left: calc(50% - 444px / 2);
  top: calc(50% - 584px / 2 + 58px);
  background-color: #ffffff;
  margin-bottom: 30px;
}
.green_cude {
  top: 30px;
  position: absolute;
  background-color: #3cb878;
  width: 18px;
  height: 18px;
}

.form_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-in-item {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.form_suptitle {
  color: #848484;
  display: flex;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 31px;
}
.form_suptitle::before {
  content: "";
  border-bottom: 1px black solid;
  opacity: 0.1;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 152px;
}
.form_suptitle::after {
  content: "";
  border-bottom: 1px black solid;
  opacity: 0.1;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 152px;
}
/* btn */
.btn-s {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.fb_btn {
  border-radius: 2px;
  width: 158px;
  height: 46px;
  display: flex;
  background: #305db8;
  align-items: center;
}
.fb_title,
.google_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.fb_title::before {
  opacity: 0.1;
  padding: 5px 0px;
  margin: 0px 18px;
  content: "";
  border-left: 1px black solid;
}
.fb_logo {
  padding: 12px 0px 12px 18px;
}
.google_btn {
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 2px;
  width: 158px;
  height: 46px;
  background: #df4a32;
}
.google_title::before {
  margin: 10px 30px 10px 8px;
  opacity: 0.1;
  padding: 5px 0px;
  content: "";
  border-left: 1px black solid;
}
/* input */
.input {
  width: 300px;
  margin-top: 15px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
}
::placeholder {
  color: #bebebe;
}
.form_zone:focus {
  transition: 0.1s;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
/* checkbox */
.checkbox_container {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.checkbox {
  position: relative;
}
.checkbox_none {
  height: 20px;
  width: 20px;
  opacity: 0;
}
.checkbox_item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}
.checkbox_check {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 20px;
  height: 20px;
  color: #3cb878;
  opacity: 1;
}

.checkbox_title {
  padding-left: 8px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.checkbox_subtitle {
  color: #3cb878;
}
.checkbox_btn {
  margin-top: 20px;
  width: 324px;
  height: 46px;
  border: none;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
}

.header_title:hover {
  color: #3cb878;
  transform: 0.1s linear;
}
.nav_title:hover {
  color: #3cb878;
  transform: 0.1s linear;
}
.log-in-item:hover {
  text-decoration: underline;
  transition: 0.1s linear;
}
.fb_btn:hover {
  background: #022263;
  transition: 0.1s linear;
}
.google_btn:hover {
  background: #ab1f09;
  transition: 0.1s linear;
}
.log-in-item:hover {
  text-decoration: underline;
  transition: 0.1s linear;
}
.checkbox_subtitle:hover {
  text-decoration: underline;
  transition: 0.1s linear;
}
.checkbox_btn:hover{background: #01813F;
  transition: 0.1s linear;}